// COLORS
// $color-primary: #55c57a;
$color-primary:#1f5ea9;
$color-primary-light: #49aaff;
$color-primary-dark: #1f5ea9;
$color-blue:#49aaff;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-green:#228822;
$color-green-fade:#6deb6d;
$color-red:#882222;
$color-red-fade:#e07b7b;
$color-yellow:#ffee36;

$color-2:#9b53fa;
$color-3:#62ffff;
$color-4:#ff3197;
$color-5:#aceb56;

// FONT
$default-font-size: 14px;
$header-zindex: 1110;
$header-zindex-overlay: 990;
$default-border-radius: 3px;
$button-height:36px;
$input-height:36px;
$formInput-height:40px;

$font-stack: 'Open Sans','Roboto',Arial, sans-serif;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


$btn-disabled-color:#F6F7F8;
$btn-disabled-text-color:#9FAAB4;
$btn-disabled-border-color:#CDD3DA;