@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';

.terms{
    &-header{
        background-image: url('../../assets/img/terms-bg-smest.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        @media (min-width: 550px){
            background-image: url('../../assets/img/terms-bg-sm.jpg');
        }
        @media (min-width: 900px){
            background-image: url('../../assets/img/terms-bg-md.jpg');
        }
        @media (min-width: 1470px){
            background-image: url('../../assets/img/terms-bg.jpg');
        }
    }
    &-title{
        min-height: 110px;
        text-align: center;
        margin: 0 auto;
        @include clearfix;
        &:before{
            content: '&nbsp;';
            display: block;
            font-size: 0;
            line-height: 0;
        }

        h1{
            color: #fff;
            margin-top: 30px;
            font-size: 20px;
            font-weight: lighter;
        }
        @media (min-width: 768px){
            width: 768px;
            max-width: none;
        }
        @media (min-width: 960px){
            width: 960px;
        }
        @media (min-width: 1200px){
            width: 1200px;
        }
    }
    &-container{
        background: #eee;
    }
    &-body{
        box-sizing: border-box;
        position: relative;
        margin: 0 auto;
        padding: 0 10px;
        padding-top: 20px;
        @include clearfix;
        &:before{
            content: '&nbsp;';
            display: block;
            font-size: 0;
            line-height: 0;
        }
        @media (min-width: 768px){
            width: 768px;
            max-width: none;
        }
        @media (min-width: 960px){
            width: 960px;
        }
        @media (min-width: 1200px){
            width: 1200px;
        }
    }
    &-content{
        margin: 0;
        padding: 20px;

        background-color: #fff;
        @media (min-width: 960px){
            margin: 0 auto 40px;
            width: 620px;
        }
        @media (min-width: 1200px){
            width: 780px;
        }

        p{
            color: #666;
            font-size: 14px;
            margin: 0 0 20px 0;

            &.right{
                text-align: right;
                // padding-bottom: 20px;
            }
        }
        h2{
            padding-bottom: 10px;
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            font-weight: 600;
            margin-bottom: 10px;
            color: #333;
        }
        h3{
            font-size: 16px;
            line-height: 20px;
            font-weight: normal;
            margin: 0;
            color: #333;
            padding-bottom: 10px;
            font-weight: 600;
        }
    }
}