.page{
    &-filters{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__badges{
            display: flex;
            flex-direction: row;
            align-items: center;

            .badge{
                padding:5px 10px;
                background-color: #f1f1f1;
                height: 30px;
                margin-right: 10px;

                &.right-icon{
                    // padding: 5px 10px 5px 20px;
                    padding: 5px 10px;
                }

                &.left-icon{
                    padding:5px 20px 5px 10px;
                }
                [class^="icon-"]{
                    margin-left: 10px;
                    font-size: 11px;
                    transform: rotate(45deg);
                    cursor: pointer;
                }
            }
        }
        &__sort{
            min-width: 175px;
        }
    }
    &-block{
        width: 100%;
        // padding-bottom: 20px;
        padding: 0 40px 20px;
    }
}

.sort-select{
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    &__label{
        font-size: 15px;
        font-weight: 400;
        color:#{$color-primary};
        padding: 0 5px;
        line-height: 1.7;
    }
    &__select{
        flex-grow: 1;
        line-height: 1.7;
        display: flex;
        align-items: center;
        select{
            width: 100%;
            border: none;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            font-size: 15px;
            font-weight: 700;
            color: #{$color-primary};
            line-height: 1.7;
            &::-ms-expand {
                display: none;
            }

            option{
                color: #333;
            }
        }
    }
    &__icon{
        font-size: 7px;
        color: #{$color-primary};
    }
}